*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root , body , input{
    font-family: "Mulish", sans-serif;

}

:root{
    font-size: 62.5%;
    --color-base-background: #387E96;
    --color-secondary-background: rgba(255, 255, 255, 0.20);
    --color-base-tile: #202024;
    --color-base-subtitle: #121214;
    --color-base-btn: #065E7C;
}

body{
    text-align: center;
    background: white;
}

@media screen and (max-width:599px){

    header{
        max-width: 100%;   
        overflow: hidden;
        padding: 1.6rem 2.4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        background: var(--color-base-background);
    }
        
        
    
    header button{
        border-radius: 50% ;
        border: none;
        padding: .8rem;
    
    }
    
    form{
        flex: 1;
    }
    
    .input-wrapper label{
        width: 1px;
        height: 1px;
        position: absolute;
        overflow: hidden;
    }
    
    .input-wrapper input{
        min-width: 100%;
        
        padding: 1.2rem 1.6rem;
    
        border-radius: .4rem;
        border: none;
    
        background: var(--color-base-btn);
        color: white;
    }
    
    .input-wrapper input::placeholder{
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    #profile{
        border-radius: 50%;
        object-fit: cover;
        width: 4.2rem;
        height: 4.2rem;
    }
    
    main #cat{
        min-width: 100%;
    }
    
    main section{
        padding: 3.2rem 2.4rem ;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: start;
        
    }
    
    .title{
        color: var(--color-base-tile);
        font-size: 2.4rem;
        font-weight: 700;
        
        
    }
    
    main div{
        margin: 3.2rem 0;
        display: flex;
        gap: 1.6rem;  
    }

    main .btn {
        border-radius: 50%;
        padding: 1.2rem;
        border: none;
        background: var(--color-base-background);
        align-items: center;
    }
        
    
    .subtitle{
        color: var(--color-base-subtitle);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 160%;
    }











}

